<br>
<div class="search-results">
      <div class="row ">
        <div class="large-2 columns">
          <a href="#"> <span> </span><img src="http://placehold.it/150x200&text=book cover" alt="book cover" class=" thumbnail"></a>
        </div>
        <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5><a href="#">  <%=@lunch.name%>  </a></h5>
              <p><%= @lunch.date.strftime("%A, %m/%d ") %> | <%= @lunch.time.strftime("Meet at the door at %l:%M%p")%></p>
            </div>
            <div class=" large-3 columns">
              <a href="#"  class="button  expand medium"><span>Join</span> </a>
            </div>
            <div class="row">
              <div class=" large-12 columns">
                <ul class="large-block-grid-2">
                  <li>
                    <ul>
                      <li><strong>Category: </strong><%= @lunch.category %></li>
                      <li><strong>Description:</strong> <%= @lunch.description %> </li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li><strong>Price:</strong> <%= @lunch.price %>  </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

<br>
<br>
<br>



<%= link_to "List of Lunches", lunches_path %>
<div class="row">
    <div class="medium-4 columns">
     <!-- <%# @lunch.users.each do |user| %> -->
      <div class="profile-card">
        <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky">
        <div class="profile-info">
          <h4 class="subheader">Inky</h4>
          <p>Inky or inking can substitute for any word having to do with cool or awesome.</p>
          <p><strong>Used in a scentence -</strong> Yo man, Foundation for Emails is so inky. Coding emails doesn't suck anymore!</p>
          <p><a href="http://foundation.zurb.com/forum">Forum</a> | <a href="http://zurb.com/ink/">Website</a></p>
          <hr>
        </div>
        <!-- <%#end %> -->
   </div>
</div>
<div class="row">
    <div class="medium-4 columns">
     <!-- <%# @lunch.users.each do |user| %> -->
      <div class="profile-card">
        <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky">
        <div class="profile-info">
          <h4 class="subheader">Inky</h4>
          <p>Inky or inking can substitute for any word having to do with cool or awesome.</p>
          <p><strong>Used in a scentence -</strong> Yo man, Foundation for Emails is so inky. Coding emails doesn't suck anymore!</p>
          <p><a href="http://foundation.zurb.com/forum">Forum</a> | <a href="http://zurb.com/ink/">Website</a></p>
          <hr>
        </div>
        <!-- <%#end %> -->
   </div>
</div>
