
<h2><%= @lunch.name %></h2>
<h3>Category- <%= @lunch.category %></h3>
<h3><%= @lunch.date.strftime("For lunch on %A, %m/%d ") %></h3>
<h3><%= @lunch.time.strftime("Meet at the door at %l:%M%p")%></h3>
<p><%= @lunch.description %></p>


<%= link_to "List of Lunches", root_path %>
